<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADIIL - 404</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/errors.css" />
  </head>
  <body data-theme="light" class="md">
    <a href="/" id="backButton">Accueil</a>
    <div class="center">
      <h3>Oups, quelque chose s'est mal passé.</h3>
      <p>La page que vous cherchez n'existe pas, merci de vérifier l'url.</p>
    </div>
  </body>
</html>
