<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ADIIL - Contact</title>
  </head>
  <body id="legalStuff" data-theme="light">
    <a id="backButton" href="/">Retour</a>
    <h1>Contact</h1>
    <p>
      Pour toute question, vous pouvez nous contacter via note adresse mail
      <em
        ><a href="mailto:association.adiil@gmail.com"
          >association.adiil@gmail.com</a
        ></em
      >
      ou sur le
      <em><a href="https://discord.gg/TWqgxvUT8e">serveur discord</a></em> de
      l'ADIIL.
    </p>
  </body>
  <script src="/js/logic.js"></script>
</html>
