<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ADIIL - FAQ</title>
  </head>
  <body id="legalStuff" data-theme="light">
    <a id="backButton" href="/">Retour</a>
    <h1>FAQ</h1>
    <div>
      <h2>Comment changer mon groupe TP ?</h2>
      <p>
        Dans la page "Mon Compte", accessible depuis la page d'accueil une fois
        connecté, vous pouvez cliquer sur le bouton "Modifier" qui se situe à
        droite de votre identité. D'ici, entrez votre nouvelle classe.
      </p>
    </div>
    <div>
      <h2>Comment changer mon mot de passe ?</h2>
      <p>
        Dans la page "Mon Compte", accessible depuis la page d'accueil une fois
        connecté, vous pouvez cliquer sur le bouton "Modifier" qui se situe à
        droite de votre mot de passe. D'ici, suivez la procédure pour
        réinitialiser votre mot de passe.
      </p>
    </div>
    <div>
      <h2>Comment changer mon adresse mail ?</h2>
      <p>
        L'identification par étudiant est faite par l'adresse mail. Il n'est
        donc pas possible de la modifier.
      </p>
    </div>
    <div>
      <h2>Est-ce que les évenements gratuits rapportent de l'xp ?</h2>
      <p>
        Oui. Tout comme les évenements payants, les évenements gratuits
        rapportent de l'xp. Cependant, ils ne rapportent que 20% de l'xp d'un
        évenement payant.
      </p>
    </div>
    <div>
      <h2>Y a t-il de l'acool aux événements de l'ADIIL ?</h2>
      <p>
        Non. Nous sommes une association étudiante et nous ne pouvons pas
        distribuer d'alcool.
      </p>
    </div>
    <div>
      <h2>
        Quelles sont les conditions d'utilisation du bon d'achat du grade
        diamant ?
      </h2>
      <p>
        Le bon d'achat du grade diamant a une valeur de 10€ et peut être utilisé
        pour tout le contenu du site, y compris les événements et la boutique.
        Cependant, il peut être utilisé une seule fois. Par exemple, si vous
        l'utilisez pour un article de 5€, vous ne pourrez pas récupérer la
        différence sur votre bon d'achat. Ce bon est valable jusqu'à la fin de
        l'année scolaire.
      </p>
    </div>
    <div>
      <h2>J'ai acheté le grade diamant. Comment utiliser mon bon d'achat ?</h2>
      <p>
        Pour utiliser votre bon d'achat, merci de
        <a href="/contact">contacter</a> l'ADIIL et d'en faire la demande.
      </p>
    </div>
  </body>
  <script src="/js/logic.js"></script>
</html>
