<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>ADIIL - Mentions Légales</title>
  </head>
  <body data-theme="light" id="legalStuff" data-theme="light">
    <a id="backButton" href="/">Retour</a>
    <div id="aPropos">
      <h1>Mentions légales</h1>
      <h2>Éditeur</h2>
      <p>
        Le site <a href="https://adiil.fr">bdeinfo.fr</a> est édité par
        l'association ADIIL, association loi 1901, dont le siège social est
        situé au 52 rue des Docteurs Calmette et Guérin, 53000 Laval.
        L'association ADIIL est un Bureau Des Etudiants et vise à améliorer la
        vie étudiante au sein de l'IUT de Laval.
      </p>
      <p>
        L'association est représentée par son président, Monsieur
        <a href="https://ewenbuhot.fr">Ewen Buhot</a>.
      </p>
      <p>
        Pour toute question, vous pouvez nous contacter sur notre
        <a href="/contact">page de contact</a>.
      </p>
    </div>
    <div id="cookies">
      <h2>Cookies</h2>
      <p>
        Lors de votre navigation sur le site, des cookies sont déposés sur votre
        ordinateur, votre mobile ou votre tablette. Nous n'utilisons aucun
        cookie à des fins publicitaires ou à des fins de récupération de données
        personnelles. Les cookies que nous utilisons nous permettent de vous
        proposer une meilleure expérience utilisateur.
      </p>
    </div>
    <div id="donnees">
      <h2>Données personnelles</h2>
      <p>
        Les données personnelles que vous nous communiquez sont utilisées dans
        le cadre de votre utilisation du site. Elles ne sont pas transmises à
        des tiers.
      </p>
      <p>
        Les données personnelles collectées sont les suivantes : nom, prénom,
        adresse mail, groupe TP et mot de passe.
      </p>
      <p>
        Les données personnelles collectées sont utilisées pour une utilisation
        du site optimale.
      </p>
      <p>
        Les données personnelles collectées sont conservées pendant une durée de
        1 an.
      </p>
      <p>
        Vous pouvez à tout moment demander la suppression de vos données
        personnelles en nous contactant sur notre
        <em><a href="/contact">page de contact</a></em
        >.
      </p>
    </div>
  </body>
  <script src="/js/logic.js"></script>
</html>
