<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/ndli.css" />
    <title>ADIIL-Nuit de l'info</title>
  </head>
  <body data-theme="light" id="centeredBody">
    <%- include('header', {cartSize, isLoggedIn}) %>
    <a id="backButton" href="/">Retour</a>
    <span class="longFlex nameSearch"
      ><input
        type="text"
        id="searchRoomInput"
        placeholder="Entrez votre nom..."
      /><button id="searchRoomButton">Rechercher</button></span
    >
    <div id="searchResults"></div>
    <svg
      id="svg-container"
      width="1912"
      height="1017"
      viewBox="0 0 1912 1017"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        id="Tatooine"
        d="M89.5007 6.5C35.5 6.5 6.00073 38.5 6.00073 102V511.25L353 510.5V418.5V340.5V6.5H89.5007Z"
        class="salle"
      />
      <path
        id="LV426"
        d="M6.00073 920.5C6.00073 982.5 29.5 1007 84.0007 1010.5H353V764.5V645V510.5L6.00073 511.25V920.5Z"
        class="salle"
      />
      <path
        id="Hyrule"
        d="M548.5 764.5V1010.5H974.5V764.5H548.5Z"
        class="salle"
      />
      <path
        id="Tamriel"
        d="M974.5 764.5V1010.5H1384.5V764.5H974.5Z"
        class="salle"
      />
      <path
        id="Vulcain"
        d="M1823 1010.5C1881.5 1010.5 1906 982 1906 931V511.25H1571V601V764.5V1010.5H1823Z"
        class="salle"
      />
      <path
        id="Westeros"
        d="M1906 91.5C1906 38 1883.5 6.5 1824.5 6.5H1571V177V371.5V506V511.25H1906V91.5Z"
        class="salle"
      />
      <path id="Azeroth" d="M869.5 6.5V251.5H1285V6.5H869.5Z" class="salle" />
      <path id="Gotham" d="M869.5 251.5V6.5H451V251.5H869.5Z" class="salle" />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M23.0102 26.4579C38.574 8.89678 61.295 0.5 89.5007 0.5H1824.5C1855.03 0.5 1877.33 8.67253 1891.85 24.9418C1906.25 41.0744 1912 64.0605 1912 91.5V931C1912 957.366 1905.67 979.059 1890.69 994.108C1875.71 1009.16 1853.13 1016.5 1823 1016.5H83.8083L83.6162 1016.49C55.6569 1014.69 34.2742 1007.44 20.0731 991.418C5.94856 975.484 0.000732422 952.07 0.000732422 920.5V102C0.000732422 69.4251 7.55788 43.8931 23.0102 26.4579ZM31.9907 34.4171C19.1932 48.8569 12.0007 71.0749 12.0007 102V505.237L347 504.513V12.5H89.5007C63.7057 12.5 44.6767 20.1032 31.9907 34.4171ZM359 12.5V334.5H529.5V431H517.5V424.5H359V639H517.5V483H529.5V758.5H1565V607H1429V500H1565V377.5H1369.5V12.5H1291V257.5H445V12.5H359ZM457 12.5V245.5H863.5V12.5H457ZM875.5 12.5V245.5H1279V12.5H875.5ZM1381.5 12.5V171H1565V12.5H1381.5ZM1577 12.5V505.25H1900V91.5C1900 65.4395 1894.5 45.9256 1882.9 32.9332C1871.42 20.0775 1852.97 12.5 1824.5 12.5H1577ZM1900 517.25H1577V1004.5H1823C1851.37 1004.5 1870.29 997.59 1882.19 985.642C1894.08 973.691 1900 955.633 1900 931V517.25ZM1565 1004.5V770.5H1390.5V1004.5H1565ZM1378.5 1004.5V770.5H980.5V1004.5H1378.5ZM968.5 1004.5V770.5H554.5V1004.5H968.5ZM542.5 1004.5V770.5H359V1004.5H542.5ZM347 1004.5V516.513L12.0007 517.237V920.5C12.0007 950.93 17.8025 970.766 29.0528 983.457C40.1998 996.032 57.7595 1002.78 84.1948 1004.5H347ZM359 758.5H517.5V651H359V758.5ZM1565 595V512H1540V595H1565ZM1528 595V512H1441V595H1528ZM1565 183H1381.5V365.5H1565V183ZM359 412.5H517.5V346.5H359V412.5ZM829.558 334.5L1249.5 338.558V681.5H606V412.5H1187V424.5H618V669.5H1237.5V350.442L829.442 346.5L829.558 334.5Z"
        fill="#211736"
      />
      <path
        d="M1079.44 385.515V381.315H1085.18C1085.99 381.315 1086.7 381.175 1087.31 380.895C1087.92 380.615 1088.4 380.218 1088.75 379.705C1089.1 379.168 1089.27 378.562 1089.27 377.885C1089.27 377.255 1089.11 376.707 1088.78 376.24C1088.48 375.773 1088.06 375.412 1087.52 375.155C1086.98 374.898 1086.38 374.77 1085.7 374.77H1079.44V370.57H1085.7C1087.4 370.57 1088.92 370.862 1090.25 371.445C1091.58 372.028 1092.62 372.868 1093.37 373.965C1094.14 375.038 1094.52 376.345 1094.52 377.885C1094.52 378.842 1094.3 379.775 1093.86 380.685C1093.41 381.572 1092.77 382.388 1091.93 383.135C1091.09 383.858 1090.08 384.442 1088.89 384.885C1087.72 385.305 1086.39 385.515 1084.9 385.515H1079.44ZM1075.8 395V370.57H1080.87V395H1075.8ZM1089.34 395C1089.29 393.95 1089.06 392.9 1088.64 391.85C1088.24 390.777 1087.68 389.75 1086.96 388.77C1086.24 387.79 1085.33 386.903 1084.23 386.11C1083.16 385.293 1081.92 384.605 1080.52 384.045L1086.16 382.89C1087.58 383.59 1088.8 384.418 1089.83 385.375C1090.88 386.308 1091.74 387.312 1092.42 388.385C1093.12 389.435 1093.63 390.532 1093.96 391.675C1094.31 392.795 1094.51 393.903 1094.56 395H1089.34Z"
        fill="black"
      />
      <path
        d="M1053.24 395V370.57H1071.16V374.77H1058.35V380.265H1066.82V384.465H1058.35V390.8H1071.3V395H1053.24Z"
        fill="black"
      />
      <path
        d="M1036.64 395V370.57H1041.71V395H1036.64ZM1030.86 370.57H1047.49V374.77H1030.86V370.57ZM1030.86 390.8H1047.49V395H1030.86V390.8Z"
        fill="black"
      />
      <path
        d="M1008.27 395V370.57H1013.35V390.8H1025.49V395H1008.27Z"
        fill="black"
      />
      <path
        d="M986.911 389.82V385.62H1001.02V389.82H986.911ZM989.886 370.57H997.411L1004.06 395H998.881L995.101 380.37L993.631 374.245L992.161 380.37L988.311 395H983.271L989.886 370.57Z"
        fill="black"
      />
      <path
        d="M971.217 395.42C969.024 395.42 967.134 394.895 965.547 393.845C963.961 392.795 962.736 391.325 961.872 389.435C961.009 387.522 960.577 385.305 960.577 382.785C960.577 380.218 961.021 377.99 961.907 376.1C962.794 374.21 964.042 372.752 965.652 371.725C967.286 370.675 969.199 370.15 971.392 370.15C973.119 370.15 974.706 370.488 976.152 371.165C977.599 371.842 978.777 372.822 979.687 374.105C980.621 375.365 981.146 376.893 981.262 378.69H975.697C975.557 377.383 975.114 376.333 974.367 375.54C973.621 374.747 972.629 374.35 971.392 374.35C970.319 374.35 969.362 374.677 968.522 375.33C967.682 375.983 967.017 376.94 966.527 378.2C966.061 379.46 965.827 380.988 965.827 382.785C965.827 384.582 966.061 386.11 966.527 387.37C966.994 388.63 967.624 389.587 968.417 390.24C969.234 390.893 970.167 391.22 971.217 391.22C972.081 391.22 972.839 391.045 973.492 390.695C974.146 390.322 974.671 389.797 975.067 389.12C975.487 388.443 975.744 387.638 975.837 386.705H981.367C981.204 388.478 980.691 390.018 979.827 391.325C978.964 392.632 977.809 393.647 976.362 394.37C974.916 395.07 973.201 395.42 971.217 395.42Z"
        fill="black"
      />
      <path
        d="M948.349 395.42C946.389 395.42 944.697 395.047 943.274 394.3C941.85 393.553 940.754 392.492 939.984 391.115C939.214 389.738 938.829 388.105 938.829 386.215H943.834C943.834 387.825 944.207 389.062 944.954 389.925C945.724 390.788 946.855 391.22 948.349 391.22C949.539 391.22 950.484 390.963 951.184 390.45C951.907 389.913 952.269 389.155 952.269 388.175C952.269 387.475 952.035 386.915 951.569 386.495C951.102 386.075 950.472 385.737 949.679 385.48C948.909 385.2 948.057 384.943 947.124 384.71C946.214 384.477 945.292 384.197 944.359 383.87C943.425 383.543 942.562 383.123 941.769 382.61C940.999 382.097 940.38 381.42 939.914 380.58C939.447 379.717 939.214 378.632 939.214 377.325C939.214 375.972 939.575 374.758 940.299 373.685C941.045 372.588 942.084 371.725 943.414 371.095C944.744 370.465 946.307 370.15 948.104 370.15C949.76 370.15 951.277 370.465 952.654 371.095C954.054 371.725 955.185 372.635 956.049 373.825C956.912 375.015 957.367 376.462 957.414 378.165H952.304C952.28 377.325 952.059 376.625 951.639 376.065C951.242 375.505 950.729 375.085 950.099 374.805C949.492 374.502 948.827 374.35 948.104 374.35C947.054 374.35 946.179 374.595 945.479 375.085C944.802 375.575 944.464 376.275 944.464 377.185C944.464 377.838 944.697 378.363 945.164 378.76C945.63 379.157 946.249 379.483 947.019 379.74C947.812 379.973 948.675 380.207 949.609 380.44C950.542 380.65 951.464 380.918 952.374 381.245C953.307 381.548 954.159 381.98 954.929 382.54C955.722 383.077 956.352 383.8 956.819 384.71C957.285 385.62 957.519 386.775 957.519 388.175C957.519 389.598 957.122 390.858 956.329 391.955C955.535 393.052 954.45 393.903 953.074 394.51C951.697 395.117 950.122 395.42 948.349 395.42Z"
        fill="black"
      />
      <path
        d="M916.66 395V370.57H934.58V374.77H921.77V380.265H930.24V384.465H921.77V390.8H934.72V395H916.66Z"
        fill="black"
      />
      <path
        d="M1483.45 290.42C1481.26 290.42 1479.37 289.895 1477.78 288.845C1476.2 287.795 1474.97 286.325 1474.11 284.435C1473.25 282.522 1472.81 280.305 1472.81 277.785C1472.81 275.218 1473.26 272.99 1474.14 271.1C1475.03 269.21 1476.28 267.752 1477.89 266.725C1479.52 265.675 1481.44 265.15 1483.63 265.15C1485.36 265.15 1486.94 265.488 1488.39 266.165C1489.84 266.842 1491.01 267.822 1491.92 269.105C1492.86 270.365 1493.38 271.893 1493.5 273.69H1487.93C1487.79 272.383 1487.35 271.333 1486.6 270.54C1485.86 269.747 1484.87 269.35 1483.63 269.35C1482.56 269.35 1481.6 269.677 1480.76 270.33C1479.92 270.983 1479.25 271.94 1478.76 273.2C1478.3 274.46 1478.06 275.988 1478.06 277.785C1478.06 279.582 1478.3 281.11 1478.76 282.37C1479.23 283.63 1479.86 284.587 1480.65 285.24C1481.47 285.893 1482.4 286.22 1483.45 286.22C1484.32 286.22 1485.08 286.045 1485.73 285.695C1486.38 285.322 1486.91 284.797 1487.3 284.12C1487.72 283.443 1487.98 282.638 1488.07 281.705H1493.6C1493.44 283.478 1492.93 285.018 1492.06 286.325C1491.2 287.632 1490.05 288.647 1488.6 289.37C1487.15 290.07 1485.44 290.42 1483.45 290.42Z"
        fill="black"
      />
      <path
        d="M1451.84 290L1449.56 265.57H1454.43L1455.27 278.275L1455.51 285.1L1456.35 278.275L1458.38 265.57H1462.48L1464.61 278.275L1465.52 285.205L1465.73 278.275L1466.5 265.57H1471.26L1468.88 290H1462.62L1461.08 279.57L1460.45 273.235L1459.78 279.57L1458.31 290H1451.84Z"
        fill="black"
      />
      <path
        d="M488.64 562.42C486.563 562.42 484.778 562.012 483.285 561.195C481.815 560.378 480.671 559.212 479.855 557.695C479.061 556.178 478.665 554.382 478.665 552.305C478.665 550.182 479.061 548.373 479.855 546.88C480.671 545.363 481.838 544.208 483.355 543.415C484.871 542.598 486.703 542.19 488.85 542.19C492.186 542.19 494.613 543.123 496.13 544.99C497.67 546.857 498.323 549.423 498.09 552.69H482.515V549.33H493.19C493.096 548.327 492.641 547.522 491.825 546.915C491.031 546.285 490.028 545.97 488.815 545.97C487.018 545.97 485.676 546.53 484.79 547.65C483.926 548.77 483.495 550.392 483.495 552.515C483.495 553.635 483.693 554.65 484.09 555.56C484.486 556.47 485.058 557.193 485.805 557.73C486.575 558.267 487.52 558.535 488.64 558.535C489.853 558.535 490.88 558.232 491.72 557.625C492.583 557.018 493.108 556.237 493.295 555.28H498.09C497.833 557.473 496.865 559.212 495.185 560.495C493.505 561.778 491.323 562.42 488.64 562.42Z"
        fill="black"
      />
      <path
        d="M467.241 562C465.981 562 464.873 561.72 463.916 561.16C462.983 560.6 462.259 559.818 461.746 558.815C461.256 557.812 461.011 556.668 461.011 555.385V539.215L465.841 536.94V555.385C465.841 555.968 465.923 556.47 466.086 556.89C466.249 557.287 466.576 557.59 467.066 557.8C467.556 558.01 468.233 558.115 469.096 558.115H474.311V562H467.241ZM456.951 546.495V542.61H470.986V546.495H456.951Z"
        fill="black"
      />
      <path
        d="M447.172 562V549.96C447.172 548.84 446.869 547.942 446.262 547.265C445.679 546.565 444.897 546.215 443.917 546.215C442.797 546.215 441.782 546.612 440.872 547.405C439.962 548.175 439.111 549.447 438.317 551.22L437.617 546.81C438.457 545.2 439.519 544.033 440.802 543.31C442.086 542.563 443.439 542.19 444.862 542.19C446.332 542.19 447.592 542.505 448.642 543.135C449.716 543.765 450.544 544.64 451.127 545.76C451.711 546.857 452.002 548.163 452.002 549.68V562H447.172ZM433.942 562V542.61H438.562L438.737 546.355V562H433.942Z"
        fill="black"
      />
      <path
        d="M424.339 562L424.164 558.22V549.085C424.164 548.012 423.79 547.172 423.044 546.565C422.297 545.958 421.27 545.655 419.964 545.655C418.68 545.655 417.642 545.935 416.849 546.495C416.055 547.032 415.6 547.79 415.484 548.77H410.829C410.945 547.393 411.4 546.215 412.194 545.235C413.01 544.255 414.095 543.508 415.449 542.995C416.802 542.458 418.365 542.19 420.139 542.19C421.935 542.19 423.487 542.47 424.794 543.03C426.124 543.59 427.15 544.407 427.874 545.48C428.597 546.53 428.959 547.825 428.959 549.365V562H424.339ZM417.864 562.42C416.58 562.42 415.449 562.175 414.469 561.685C413.512 561.195 412.765 560.518 412.229 559.655C411.692 558.792 411.424 557.788 411.424 556.645C411.424 554.662 412.194 553.122 413.734 552.025C415.274 550.905 417.42 550.345 420.174 550.345H424.689V553.74H420.034C418.82 553.74 417.864 553.962 417.164 554.405C416.464 554.848 416.114 555.502 416.114 556.365C416.114 556.995 416.37 557.532 416.884 557.975C417.397 558.395 418.097 558.605 418.984 558.605C420.174 558.605 421.235 558.29 422.169 557.66C423.102 557.03 423.872 556.178 424.479 555.105L425.004 558.43C424.397 559.76 423.487 560.763 422.274 561.44C421.06 562.093 419.59 562.42 417.864 562.42Z"
        fill="black"
      />
      <path
        d="M402.8 562V548.175C402.8 547.522 402.707 547.02 402.52 546.67C402.333 546.297 402.007 546.11 401.54 546.11C400.91 546.11 400.35 546.542 399.86 547.405C399.37 548.268 398.997 549.715 398.74 551.745L398.39 549.015C398.32 546.892 398.717 545.223 399.58 544.01C400.467 542.797 401.598 542.19 402.975 542.19C404.212 542.19 405.215 542.657 405.985 543.59C406.778 544.523 407.175 545.888 407.175 547.685V562H402.8ZM387.575 562V542.61H391.775L391.915 546.25V562H387.575ZM395.205 562V548.175C395.205 547.475 395.088 546.962 394.855 546.635C394.645 546.285 394.318 546.11 393.875 546.11C393.175 546.11 392.603 546.577 392.16 547.51C391.717 548.443 391.367 549.855 391.11 551.745V548.84C391.063 547.487 391.238 546.308 391.635 545.305C392.055 544.302 392.603 543.532 393.28 542.995C393.957 542.458 394.68 542.19 395.45 542.19C396.71 542.19 397.702 542.692 398.425 543.695C399.148 544.675 399.51 545.982 399.51 547.615V562H395.205Z"
        fill="black"
      />
      <path
        d="M486.085 521V501.61H490.88V521H486.085ZM479.505 521V517.115H497.355V521H479.505ZM481.99 505.495V501.61H488.5V505.495H481.99ZM485.875 498.775V494.12H491.055V498.775H485.875Z"
        fill="black"
      />
      <path
        d="M470.181 510.85V508.33C470.181 507.397 469.924 506.65 469.411 506.09C468.898 505.507 468.139 505.215 467.136 505.215C465.946 505.215 464.849 505.635 463.846 506.475C462.866 507.292 461.979 508.645 461.186 510.535L460.626 506.3C461.209 505.18 461.863 504.247 462.586 503.5C463.333 502.73 464.149 502.158 465.036 501.785C465.946 501.388 466.949 501.19 468.046 501.19C470.076 501.19 471.744 501.797 473.051 503.01C474.358 504.223 475.011 505.997 475.011 508.33V510.85H470.181ZM457.196 521V501.61H461.781L462.026 505.39V521H457.196Z"
        fill="black"
      />
      <path
        d="M444.337 501.19C446.041 501.19 447.546 501.633 448.852 502.52C450.159 503.407 451.174 504.62 451.897 506.16C452.644 507.677 453.017 509.392 453.017 511.305C453.017 513.195 452.644 514.91 451.897 516.45C451.174 517.967 450.159 519.18 448.852 520.09C447.546 520.977 446.041 521.42 444.337 521.42C443.147 521.42 442.051 521.198 441.047 520.755C440.067 520.288 439.239 519.67 438.562 518.9V527.23H433.732V501.61H438.387L438.492 503.745C439.169 502.952 440.009 502.333 441.012 501.89C442.016 501.423 443.124 501.19 444.337 501.19ZM443.147 517.43C444.151 517.43 445.026 517.162 445.772 516.625C446.542 516.088 447.137 515.365 447.557 514.455C448.001 513.522 448.222 512.472 448.222 511.305C448.222 510.115 448.001 509.065 447.557 508.155C447.137 507.222 446.542 506.498 445.772 505.985C445.026 505.448 444.151 505.18 443.147 505.18C442.097 505.18 441.164 505.495 440.347 506.125C439.531 506.732 438.936 507.56 438.562 508.61V513.965C438.936 515.015 439.531 515.855 440.347 516.485C441.164 517.115 442.097 517.43 443.147 517.43Z"
        fill="black"
      />
      <path
        d="M425.564 521V507.175C425.564 506.522 425.47 506.02 425.284 505.67C425.097 505.297 424.77 505.11 424.304 505.11C423.674 505.11 423.114 505.542 422.624 506.405C422.134 507.268 421.76 508.715 421.504 510.745L421.154 508.015C421.084 505.892 421.48 504.223 422.344 503.01C423.23 501.797 424.362 501.19 425.739 501.19C426.975 501.19 427.979 501.657 428.749 502.59C429.542 503.523 429.939 504.888 429.939 506.685V521H425.564ZM410.339 521V501.61H414.539L414.679 505.25V521H410.339ZM417.969 521V507.175C417.969 506.475 417.852 505.962 417.619 505.635C417.409 505.285 417.082 505.11 416.639 505.11C415.939 505.11 415.367 505.577 414.924 506.51C414.48 507.443 414.13 508.855 413.874 510.745V507.84C413.827 506.487 414.002 505.308 414.399 504.305C414.819 503.302 415.367 502.532 416.044 501.995C416.72 501.458 417.444 501.19 418.214 501.19C419.474 501.19 420.465 501.692 421.189 502.695C421.912 503.675 422.274 504.982 422.274 506.615V521H417.969Z"
        fill="black"
      />
      <path
        d="M394.82 521V496.57H399.895V521H394.82ZM389.045 496.57H405.67V500.77H389.045V496.57ZM389.045 516.8H405.67V521H389.045V516.8Z"
        fill="black"
      />
      <path
        d="M1483.45 104.42C1481.26 104.42 1479.37 103.895 1477.78 102.845C1476.2 101.795 1474.97 100.325 1474.11 98.435C1473.25 96.5217 1472.81 94.305 1472.81 91.785C1472.81 89.2183 1473.26 86.99 1474.14 85.1C1475.03 83.21 1476.28 81.7517 1477.89 80.725C1479.52 79.675 1481.44 79.15 1483.63 79.15C1485.36 79.15 1486.94 79.4883 1488.39 80.165C1489.84 80.8417 1491.01 81.8217 1491.92 83.105C1492.86 84.365 1493.38 85.8933 1493.5 87.69H1487.93C1487.79 86.3833 1487.35 85.3333 1486.6 84.54C1485.86 83.7467 1484.87 83.35 1483.63 83.35C1482.56 83.35 1481.6 83.6767 1480.76 84.33C1479.92 84.9833 1479.25 85.94 1478.76 87.2C1478.3 88.46 1478.06 89.9883 1478.06 91.785C1478.06 93.5817 1478.3 95.11 1478.76 96.37C1479.23 97.63 1479.86 98.5867 1480.65 99.24C1481.47 99.8933 1482.4 100.22 1483.45 100.22C1484.32 100.22 1485.08 100.045 1485.73 99.695C1486.38 99.3217 1486.91 98.7967 1487.3 98.12C1487.72 97.4433 1487.98 96.6383 1488.07 95.705H1493.6C1493.44 97.4783 1492.93 99.0183 1492.06 100.325C1491.2 101.632 1490.05 102.647 1488.6 103.37C1487.15 104.07 1485.44 104.42 1483.45 104.42Z"
        fill="black"
      />
      <path
        d="M1451.84 104L1449.56 79.57H1454.43L1455.27 92.275L1455.51 99.1L1456.35 92.275L1458.38 79.57H1462.48L1464.61 92.275L1465.52 99.205L1465.73 92.275L1466.5 79.57H1471.26L1468.88 104H1462.62L1461.08 93.57L1460.45 87.235L1459.78 93.57L1458.31 104H1451.84Z"
        fill="black"
      />
      <path
        d="M497.64 905.42C495.68 905.42 493.988 905.047 492.565 904.3C491.141 903.553 490.045 902.492 489.275 901.115C488.505 899.738 488.12 898.105 488.12 896.215H493.125C493.125 897.825 493.498 899.062 494.245 899.925C495.015 900.788 496.146 901.22 497.64 901.22C498.83 901.22 499.775 900.963 500.475 900.45C501.198 899.913 501.56 899.155 501.56 898.175C501.56 897.475 501.326 896.915 500.86 896.495C500.393 896.075 499.763 895.737 498.97 895.48C498.2 895.2 497.348 894.943 496.415 894.71C495.505 894.477 494.583 894.197 493.65 893.87C492.716 893.543 491.853 893.123 491.06 892.61C490.29 892.097 489.671 891.42 489.205 890.58C488.738 889.717 488.505 888.632 488.505 887.325C488.505 885.972 488.866 884.758 489.59 883.685C490.336 882.588 491.375 881.725 492.705 881.095C494.035 880.465 495.598 880.15 497.395 880.15C499.051 880.15 500.568 880.465 501.945 881.095C503.345 881.725 504.476 882.635 505.34 883.825C506.203 885.015 506.658 886.462 506.705 888.165H501.595C501.571 887.325 501.35 886.625 500.93 886.065C500.533 885.505 500.02 885.085 499.39 884.805C498.783 884.502 498.118 884.35 497.395 884.35C496.345 884.35 495.47 884.595 494.77 885.085C494.093 885.575 493.755 886.275 493.755 887.185C493.755 887.838 493.988 888.363 494.455 888.76C494.921 889.157 495.54 889.483 496.31 889.74C497.103 889.973 497.966 890.207 498.9 890.44C499.833 890.65 500.755 890.918 501.665 891.245C502.598 891.548 503.45 891.98 504.22 892.54C505.013 893.077 505.643 893.8 506.11 894.71C506.576 895.62 506.81 896.775 506.81 898.175C506.81 899.598 506.413 900.858 505.62 901.955C504.826 903.052 503.741 903.903 502.365 904.51C500.988 905.117 499.413 905.42 497.64 905.42Z"
        fill="black"
      />
      <path
        d="M474.701 905.42C472.578 905.42 470.711 904.907 469.101 903.88C467.514 902.853 466.278 901.395 465.391 899.505C464.528 897.615 464.096 895.375 464.096 892.785C464.096 890.172 464.528 887.92 465.391 886.03C466.278 884.14 467.514 882.693 469.101 881.69C470.711 880.663 472.578 880.15 474.701 880.15C476.824 880.15 478.679 880.663 480.266 881.69C481.853 882.693 483.078 884.14 483.941 886.03C484.828 887.897 485.271 890.148 485.271 892.785C485.271 895.375 484.828 897.615 483.941 899.505C483.078 901.395 481.853 902.853 480.266 903.88C478.679 904.907 476.824 905.42 474.701 905.42ZM474.701 901.22C475.728 901.22 476.638 900.893 477.431 900.24C478.248 899.563 478.878 898.595 479.321 897.335C479.788 896.075 480.021 894.558 480.021 892.785C480.021 890.988 479.788 889.472 479.321 888.235C478.878 886.975 478.248 886.018 477.431 885.365C476.638 884.688 475.728 884.35 474.701 884.35C473.674 884.35 472.753 884.688 471.936 885.365C471.119 886.018 470.478 886.975 470.011 888.235C469.568 889.495 469.346 891.012 469.346 892.785C469.346 894.558 469.568 896.075 470.011 897.335C470.478 898.595 471.119 899.563 471.936 900.24C472.753 900.893 473.674 901.22 474.701 901.22Z"
        fill="black"
      />
      <path
        d="M446.512 896.915V892.715H452.357C453.617 892.715 454.632 892.342 455.402 891.595C456.172 890.848 456.557 889.868 456.557 888.655C456.557 887.488 456.184 886.555 455.437 885.855C454.691 885.132 453.699 884.77 452.462 884.77H446.512V880.57H452.497C454.364 880.57 455.997 880.908 457.397 881.585C458.797 882.238 459.882 883.172 460.652 884.385C461.422 885.598 461.807 887.022 461.807 888.655C461.807 890.312 461.411 891.758 460.617 892.995C459.847 894.232 458.762 895.2 457.362 895.9C455.962 896.577 454.306 896.915 452.392 896.915H446.512ZM442.872 905V880.57H447.947V905H442.872Z"
        fill="black"
      />
      <path
        d="M420.424 905V880.57H438.344V884.77H425.534V890.265H434.004V894.465H425.534V900.8H438.484V905H420.424Z"
        fill="black"
      />
      <path
        d="M401.09 895.515V891.315H406.83C407.647 891.315 408.358 891.175 408.965 890.895C409.572 890.615 410.05 890.218 410.4 889.705C410.75 889.168 410.925 888.562 410.925 887.885C410.925 887.255 410.762 886.707 410.435 886.24C410.132 885.773 409.712 885.412 409.175 885.155C408.638 884.898 408.032 884.77 407.355 884.77H401.09V880.57H407.355C409.058 880.57 410.575 880.862 411.905 881.445C413.235 882.028 414.273 882.868 415.02 883.965C415.79 885.038 416.175 886.345 416.175 887.885C416.175 888.842 415.953 889.775 415.51 890.685C415.067 891.572 414.425 892.388 413.585 893.135C412.745 893.858 411.73 894.442 410.54 894.885C409.373 895.305 408.043 895.515 406.55 895.515H401.09ZM397.45 905V880.57H402.525V905H397.45ZM410.995 905C410.948 903.95 410.715 902.9 410.295 901.85C409.898 900.777 409.338 899.75 408.615 898.77C407.892 897.79 406.982 896.903 405.885 896.11C404.812 895.293 403.575 894.605 402.175 894.045L407.81 892.89C409.233 893.59 410.458 894.418 411.485 895.375C412.535 896.308 413.398 897.312 414.075 898.385C414.775 899.435 415.288 900.532 415.615 901.675C415.965 902.795 416.163 903.903 416.21 905H410.995Z"
        fill="black"
      />
    </svg>

    <div class="teamContainer">
      <h2>Salle</h2>
      <div class="team">
        <h3>Équipe</h3>
        <h4 class="membersTitle">Membres :</h4>
        <ul></ul>
        <div class="showList"></div>
      </div>
      <div id="closeButton" onclick="closeOverlay()">X</div>
    </div>
  </body>
  <script src="js/logic.js"></script>
  <script src="js/ndli.js"></script>
</html>
